Processamento de dados:
- criar tabela com todos os MQLs, com todas as informações disponíveis para cada um.
- criar uma coluna com quais MQLs fecharam acordo e quais foram perdidos.

# Projeto Dupla Lorena Vianna e Amanda Spolti

In [1]:
#importando as bibliotecas necessárias
import numpy as np
import pandas as pd

Importando o arquivo MQLs - Leads qualificados de marketing

In [2]:
mql = pd.read_csv('C:\Lets Code\Projeto\dados01 - olist_mkt_funnel\olist_marketing_qualified_leads_dataset.csv')

In [3]:
mql.head(3)

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search

Importando o arquivo com as infos do pedido CDD - Closed Deals Dataset

In [57]:
cdd = pd.read_csv('C:\Lets Code\Projeto\dados01 - olist_mkt_funnel\olist_closed_deals_dataset.csv')

cdd.head(3)

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0

Explorando os arquivos
- importante para confirmar o entendimento que o mql deve ser a base "A" do left join necessário

In [55]:
#contagem de mql_id no arquivo mql
mql['mql_id'].count()

8000

In [58]:
#contagem de mql_id no arquivo cdd
cdd['mql_id'].count()

842

# #  criar tabela com todos os MQLs, com todas as informações disponíveis para cada um

Juntando os dois arquivos num só, através de um left join. Pois a necessidade aqui é ter todos os registros da base mql adicionando os da base cdd quando houver match

In [59]:
df=pd.merge(mql, cdd, on="mql_id", how="left")
df=df.drop_duplicates() #tirando possíveis linhas duplicadas
df.head(3)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# verificando se o arquivo tem pelo menos a mesma quantidade de registros que o mql
df['mql_id'].count()

8000

In [10]:
#verificando se o join "deu certo" ou seja, se existe pelo menos uma informação do cdd em mql
df[df['seller_id'].notnull()].head(5)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
12,a555fb36b9368110ede0f043dfc3b9a0,2018-04-04,2f08471dfb83baef522f952438a36f6e,referral,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
14,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
39,f5fee8f7da74f4887f5bcae2bafb6dd6,2018-01-14,22c29808c4f815213303f8933030604c,paid_search,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
67,ffe640179b554e295c167a2f6be528e0,2017-10-09,a0fbc0263cb98bdb0d72b9f9f283a172,unknown,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0

# #criar uma coluna com quais MQLs fecharam acordo e quais foram perdidos.

Para esta etapa, vou considerar que o acordo foi fechado quando won_date é diferente de nulo

In [61]:
df['status_acordo'] = np.where(df['won_date'].notnull(), 'fechado', 'perdido')

In [62]:
df[df['won_date'].notnull()].head(5)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,status_acordo
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,fechado
12,a555fb36b9368110ede0f043dfc3b9a0,2018-04-04,2f08471dfb83baef522f952438a36f6e,referral,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0,fechado
14,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0,fechado
39,f5fee8f7da74f4887f5bcae2bafb6dd6,2018-01-14,22c29808c4f815213303f8933030604c,paid_search,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0,fechado
67,ffe640179b554e295c167a2f6be528e0,2017-10-09,a0fbc0263cb98bdb0d72b9f9f283a172,unknown,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0,fechado

## Perguntas a serem respondidas

Perguntas a serem respondidas:
- Qual foi a taxa de conversão total?
- Qual foi a taxa de conversão de cada origem?
- Qual foi a taxa de conversão de cada página inicial?
- Para cada SR, qual a receita média declarada dos leads?
- Para cada SR, quantos de cada business_type a pessoa converteu?
- Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?
- Para cada SR, quantos de cada lead_type a pessoa converteu?

In [63]:
#Qual foi a taxa de conversão total? 
total_convertidos=df[df['status_acordo']=='fechado'].count()['mql_id']
total_leads=df['mql_id'].count()
print('taxa de conversão =',total_convertidos/total_leads*100,'%')

taxa de conversão = 10.525 %

In [64]:
df.head()

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,status_acordo
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,perdido
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,perdido
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,perdido
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,perdido
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,fechado

In [44]:
#Qual foi a taxa de conversão de cada origem?

In [65]:
taxa_por_origem=df.groupby('origin')['status_acordo'].count().to_frame('total')
taxa_por_origem['fechado']=df[df['status_acordo']=='fechado'].groupby('origin')['status_acordo'].count()
taxa_por_origem['tx_%']=taxa_por_origem['fechado']/taxa_por_origem['total']*100

In [66]:
taxa_por_origem

                   total  fechado       tx_%
origin
direct_traffic       499       56  11.222445
display              118        6   5.084746
email                493       15   3.042596
organic_search      2296      271  11.803136
other                150        4   2.666667
other_publicities     65        3   4.615385
paid_search         1586      195  12.295082
referral             284       24   8.450704
social              1350       75   5.555556
unknown             1099      179  16.287534

In [67]:
#Qual foi a taxa de conversão de cada página inicial?
taxa_por_LP=df.groupby('landing_page_id')['status_acordo'].count().to_frame('total')
taxa_por_LP['fechado']=df[df['status_acordo']=='fechado'].groupby('landing_page_id')['status_acordo'].count()
taxa_por_LP['tx_%']=taxa_por_LP['fechado']/taxa_por_LP['total']*100

In [68]:
taxa_por_LP

                                  total  fechado        tx_%
landing_page_id
007f9098284a86ee80ddeb25d53e0af8     66      4.0    6.060606
01850876d34b43494b5f9879c366877b      1      NaN         NaN
0218f6be0b76aca72ab4d00ee9e8cf10     48      6.0   12.500000
03c7c0ace395d80182db07ae2c30f034      1      NaN         NaN
04a75b75d5f4f3a16b0178fbe382da00      1      1.0  100.000000
061c3918f72d289ee93d5d8a06c15c2e      3      NaN         NaN
0625ca637bf063abf254a66fe91fa84b      3      1.0   33.333333
081b0e629b3899db213a23bc4e58a17d      1      NaN         NaN
08940bbad6e96fc4e620f2d9a00b1db4      2      NaN         NaN
090ffa1062e6dde353c36524563acefc      3      1.0   33.333333
09949e05e2c5fa4ba780fe27213bc575      5      NaN         NaN
099ddda4feb08e89c402f2d38ca94b2e      1      NaN         NaN
0a252e869424c89cf3608e07399b61f6      1      NaN         NaN
0a946f83fbafa9ebf3d1c1083a6d865b      1      NaN         NaN
0b353d6bc27566f1d238313c33d95f56      7      1.0   14.285714
0b37d43dbde6452cdd94c17bf61a88e4     27      NaN         NaN
0b9430edcbf2d9a95148c806af2b6699      9      2.0   22.222222
0c83f57c786a0b4a39efab23731c7ebc      4      NaN         NaN
0d43fc5a5096c416d3b7b492564293da      4      NaN         NaN
0d5837d82188e547040314b5db344a0c      1      NaN         NaN
0d6bc3c00e4e64927cae2e8d9c6a0b9b      3      1.0   33.333333
0e5a178e3cd2368607f3e72f46140476     21      1.0    4.761905
0edc241702f5e6c046cbdbc4b5ef6a13      1      NaN         NaN
0f25be78376bbbaba8553051e980b83c     13      NaN         NaN
0f7f8ed9a1db8fc2a42e273972db10d4      9      2.0   22.222222
10f5ac17ed7d6ee9a7d737ac1d2fcb32      2      1.0   50.000000
111313f5b9ceedf17ab5af7317a9f9bc     11      NaN         NaN
120ad10683075526ee1b3b00489dafec     14      NaN         NaN
128d8c3f32b8aa66b5bcbe4e26dfc78d     11      NaN         NaN
13fa6688e41e863dcbfdb4c6112c4c86      1      1.0  100.000000
...                                 ...      ...         ...
ef0b482996664cc1107b9051efd3ca84     30      NaN         NaN
ef6ae7014c36fec7aaef615a3136b2d8      1      NaN         NaN
ef8fd2bd651e9bede81dfb6e45480793      8      NaN         NaN
f017be4dbf86243af5c1ebed0cff36a2    310     21.0    6.774194
f03e241af08912ba7ffb65d69b0eb4d9     12      NaN         NaN
f08397f6bf693eef76648ea83ed2ece8      1      NaN         NaN
f0b4c4ef4ee243742edd86cd944574ec      2      NaN         NaN
f1ac5ca9008183011d8a8e770bcbbdbb      1      NaN         NaN
f2297ae2d607584fb580e9947a1a9b75      1      NaN         NaN
f3d15bbce65ef706388acb3d1c637a8b      1      NaN         NaN
f4cb9c7b1dc31afca77d4896d2ae8d4b     12      NaN         NaN
f55ba1da3448d20e213b0a10385eac07      1      1.0  100.000000
f57543dba03374705c8ea62d65808076      1      NaN         NaN
f5fdb03f3ee6e369a1748e300cc40cb9      1      NaN         NaN
f77960785994c89e81217aa876672703      1      NaN         NaN
f80696b73d17fb34f5c4fde157f119d8     49      NaN         NaN
f92b00f4abed4326fcb772ad3f732f5d      1      NaN         NaN
f98c2bd96ac4a5d9476734e790c91384     58      2.0    3.448276
fa5a0151e1f37d0055a3478fbb48827a     15      4.0   26.666667
fa6f59a21825d841e307151460fb0302      4      1.0   25.000000
fb58285f6f6c4e504dfa628de116cae8     22      NaN         NaN
fbc24da54d531c6204ae2d17b1090bb1     24      5.0   20.833333
fc4db0e1e8dfd5a305da563f9b2fc192      2      NaN         NaN
fc83c311415c9f67b6c7c87cf488b9c2      1      NaN         NaN
fd660f5d9a62d444c76191307b3a0514     11      NaN         NaN
fd7c4cdfbfb7964b441618d54f88c38b      1      NaN         NaN
fd7d977e75d1ac5cfe6b93ffabb150b1      1      NaN         NaN
fe82aeadeaea2186478fe6353d6d5301      8      2.0   25.000000
ff3416719616ad4921acb8c74e21d6f0     11      NaN         NaN
ffc62d6945fd1423539ec6d96326c37c      1      1.0  100.000000

[495 rows x 3 columns]

In [76]:
#Para cada SR, qual a receita média declarada dos leads? sr_id
df.groupby('sr_id')['declared_monthly_revenue'].mean().to_frame('Receita_media_declarada')

                                  Receita_media_declarada
sr_id
060c0a26f19f4d66b42e0d8796688490                 0.000000
068066e24f0c643eb1d089c7dd20cd73              7037.037037
0a0fb2b07d841f84fb6714e35c723075              6000.000000
2695de1affa7750089c0455f8ce27021              1694.915254
34d40cdaf94010a1d05b0d6212f9e909             19000.000000
495d4e95a8cf8bbf8b432b612a2aa328              6666.666667
4b339f9567d060bcea4f5136b9f5949e             27777.777778
4ef15afb4b2723d8f3d81e51ec7afefe            377293.233083
56bf83c4bb35763a51c2baab501b4c67             12500.000000
6565aa9ce3178a5caf6171827af3a9ba                 0.000000
6aa3b86a83d784b05f0e37e26b20860d              8000.000000
85fc447d336637ba1df43e793199fbc8              1562.500000
9749123c950bf8363ace42cb1c2d0815            103571.428571
9ae085775a198122c5586fa830ff7f2b                 0.000000
9d12ef1a7eca3ec58c545c678af7869c             43333.333333
9e4d1098a3b0f5da39b0bc48f9876645                 0.000000
a8387c01a09e99ce014107505b92388c             24038.692308
b90f87164b5f8c2cfa5c8572834dbe3f                 0.000000
c638112b43f1d1b86dcabb0da720c901                 0.000000
d3d1e91a157ea7f90548eef82f1955e3              4939.024390
de63de0d10a6012430098db33c679b0b            151415.094340
fbf4aef3f6915dc0c3c97d6812522f6a                 0.000000

In [74]:
#Para cada SR, quantos de cada business_type a pessoa converteu?
df[df['status_acordo']=='fechado'].groupby(['sr_id','business_type'])['business_type'].count().to_frame('Qtd')

                                                Qtd
sr_id                            business_type
060c0a26f19f4d66b42e0d8796688490 manufacturer     9
                                 reseller        23
068066e24f0c643eb1d089c7dd20cd73 manufacturer     6
                                 reseller        21
0a0fb2b07d841f84fb6714e35c723075 other            1
2695de1affa7750089c0455f8ce27021 manufacturer    16
                                 reseller        42
34d40cdaf94010a1d05b0d6212f9e909 manufacturer     1
                                 other            1
                                 reseller         8
495d4e95a8cf8bbf8b432b612a2aa328 manufacturer    14
                                 reseller        47
4b339f9567d060bcea4f5136b9f5949e manufacturer     2
                                 reseller         6
4ef15afb4b2723d8f3d81e51ec7afefe manufacturer    43
                                 reseller        90
56bf83c4bb35763a51c2baab501b4c67 manufacturer     8
                                 reseller        16
6565aa9ce3178a5caf6171827af3a9ba manufacturer    19
                                 reseller        54
6aa3b86a83d784b05f0e37e26b20860d reseller         1
85fc447d336637ba1df43e793199fbc8 manufacturer    25
                                 reseller        39
9749123c950bf8363ace42cb1c2d0815 manufacturer     2
                                 reseller         5
9ae085775a198122c5586fa830ff7f2b manufacturer    15
                                 reseller        36
9d12ef1a7eca3ec58c545c678af7869c manufacturer     2
                                 reseller         4
9e4d1098a3b0f5da39b0bc48f9876645 manufacturer    10
                                 reseller        14
a8387c01a09e99ce014107505b92388c manufacturer     4
                                 other            1
                                 reseller        21
b90f87164b5f8c2cfa5c8572834dbe3f reseller         1
c638112b43f1d1b86dcabb0da720c901 manufacturer    12
                                 reseller        22
d3d1e91a157ea7f90548eef82f1955e3 manufacturer    19
                                 reseller        61
de63de0d10a6012430098db33c679b0b manufacturer    12
                                 reseller        40
fbf4aef3f6915dc0c3c97d6812522f6a manufacturer    23
                                 reseller        36

In [77]:
#Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?
df[df['status_acordo']=='fechado'].groupby(['sr_id','lead_behaviour_profile'])['lead_behaviour_profile'].count().to_frame('Qtd')

                                                         Qtd
sr_id                            lead_behaviour_profile
060c0a26f19f4d66b42e0d8796688490 cat                      15
                                 eagle                     2
                                 shark                     1
                                 wolf                      6
068066e24f0c643eb1d089c7dd20cd73 cat                      11
                                 cat, wolf                 1
                                 eagle                     7
                                 shark                     1
                                 shark, wolf               1
                                 wolf                      4
0a0fb2b07d841f84fb6714e35c723075 cat                       1
2695de1affa7750089c0455f8ce27021 cat                      34
                                 cat, wolf                 1
                                 eagle                     9
                                 shark                     2
                                 shark, cat                1
                                 wolf                      6
34d40cdaf94010a1d05b0d6212f9e909 cat                       3
                                 cat, wolf                 2
                                 eagle                     4
                                 eagle, wolf               1
495d4e95a8cf8bbf8b432b612a2aa328 cat                      30
                                 eagle                     6
                                 eagle, cat                1
                                 shark                     2
                                 wolf                      7
4b339f9567d060bcea4f5136b9f5949e cat                       7
                                 wolf                      2
4ef15afb4b2723d8f3d81e51ec7afefe cat                      58
                                 cat, wolf                 2
...                                                      ...
9ae085775a198122c5586fa830ff7f2b shark                     1
                                 wolf                      5
9d12ef1a7eca3ec58c545c678af7869c cat                       3
                                 cat, wolf                 1
                                 eagle, cat                1
                                 wolf                      1
9e4d1098a3b0f5da39b0bc48f9876645 cat                      16
                                 eagle                     6
                                 shark                     2
a8387c01a09e99ce014107505b92388c cat                      14
                                 eagle                     6
                                 eagle, cat                1
                                 wolf                      3
b90f87164b5f8c2cfa5c8572834dbe3f eagle                     1
c638112b43f1d1b86dcabb0da720c901 cat                      17
                                 eagle                     5
                                 wolf                      3
d3d1e91a157ea7f90548eef82f1955e3 cat                      28
                                 eagle                    12
                                 eagle, wolf               1
                                 shark                     2
                                 wolf                     11
de63de0d10a6012430098db33c679b0b cat                      37
                                 eagle                     7
                                 shark                     4
                                 wolf                      5
fbf4aef3f6915dc0c3c97d6812522f6a cat                      30
                                 eagle                     9
                                 shark                     2
                                 wolf                      2

[80 rows x 1 columns]

In [78]:
#Para cada SR, quantos de cada lead_type a pessoa converteu?
df[df['status_acordo']=='fechado'].groupby(['sr_id','lead_type'])['lead_type'].count().to_frame('Qtd')

                                                  Qtd
sr_id                            lead_type
060c0a26f19f4d66b42e0d8796688490 industry           8
                                 offline            1
                                 online_beginner    3
                                 online_big         2
                                 online_medium     15
                                 online_small       3
068066e24f0c643eb1d089c7dd20cd73 industry           2
                                 offline            7
                                 online_big         3
                                 online_medium     12
                                 online_small       3
0a0fb2b07d841f84fb6714e35c723075 other              1
2695de1affa7750089c0455f8ce27021 industry           4
                                 offline           12
                                 online_beginner    6
                                 online_big         9
                                 online_medium     19
                                 online_small       8
                                 online_top         1
34d40cdaf94010a1d05b0d6212f9e909 industry           1
                                 offline            2
                                 online_beginner    1
                                 online_big         1
                                 online_medium      4
                                 other              1
495d4e95a8cf8bbf8b432b612a2aa328 industry          11
                                 offline            5
                                 online_beginner    1
                                 online_big        14
                                 online_medium     25
...                                               ...
a8387c01a09e99ce014107505b92388c other              1
b90f87164b5f8c2cfa5c8572834dbe3f online_medium      1
c638112b43f1d1b86dcabb0da720c901 industry           5
                                 offline            7
                                 online_beginner    2
                                 online_big         3
                                 online_medium     14
                                 online_small       3
                                 online_top         1
d3d1e91a157ea7f90548eef82f1955e3 industry          12
                                 offline            4
                                 online_beginner   11
                                 online_big        17
                                 online_medium     25
                                 online_small      11
                                 online_top         2
de63de0d10a6012430098db33c679b0b industry           7
                                 offline            8
                                 online_beginner    3
                                 online_big         7
                                 online_medium     22
                                 online_small       5
                                 online_top         1
fbf4aef3f6915dc0c3c97d6812522f6a industry           8
                                 offline            4
                                 online_beginner    1
                                 online_big         8
                                 online_medium     30
                                 online_small       6
                                 online_top         2

[118 rows x 1 columns]

# Extra

Extra:

Caso consiga resolver as questões acima com facilidade, aproveite a base "irmã" dessa para fazer outras explorações que você ache interessante!

https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

Lembre de separar novamente em 2 etapas: 
1. Processamento dos dados, para criar uma tabela "analítica".
2. Análise exploratória dos dados.

#Analisando o conteúdo das bases disponíveis no Kaggle, serão importadas somente:
olist_order_items_dataset.csv (chaves: product_id / order_id)
olist_products_dataset.csv (chave: product_id)
olist_order_payments_dataset.csv (chave: order_id)

A proposta é analisar:
- o tipo de pagamento(payment_type) por categoria de produtos(product_category_name)
- por categoria de produtos, verificar:
    - o tamanho(min, max e medio) da desrição dos produtos( product_description_lenght)
    - a quantidade(min, max e medio) de fotos(product_photos_qty)
    - o peso(min, max e medio) (product_weight_g)